/* This CSS is a free template by Blub-Blub (#519615). Please DO NOT remove any credentials, or the breadcrumb credit. You are not allowed to use this template to sell comms, though you are allowed to change anything to match your style more. This still doesn't mean you can remove any credits. I am fully able to remove my free CSSs, I hope I do not have to. */

/* font import */
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Bitcount+Grid+Single:wght@100..900&display=swap');

body {
  background: url('https://iili.io/KZCyOes.jpg') no-repeat center center fixed;
  color: #000000 !important;
  background-size: cover;
  font-family: 'Aref Ruqaa';
}

.col-md-9.col-xs-12 {
  background: none !important;
  border: 4px double #95A487 !important;
  border-top: none !important;
  border-right: none !important;
  border-bottom: none !important;
}

div.container.main {
  background: rgba(48, 70, 54, 0.5) !important;
  border: 4px double #95A487 !important;
  border-radius: 15px !important;
}

.navbar {
  background: #3B4C3F !important;
  border: 1px solid #95A487 !important;
  border-radius: 15px !important;
  border-bottom: none !important;
  border-top: none !important;
  border-right: none !important;
  box-shadow: none !important;
  font-family: 'Aref Ruqaa';
}

.navbar li a {
  color: #95A487 !important;
}

.navbar li a:hover {
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: 0 0 10px #95A487, 0 0 20px #95A487, 0 0 40px #95A487; !important;
  text-shadow: 0 0 5px #95A487, 0 0 10px #95A487, 0 0 20px #95A487; !important;
  transition: 0.8 !important;
}

/*lioden logo replacement*/
.navbar-header> a > img {
  content: url('URL image here once you find it'); !important;
  width: 150-200px;
}

.breadcrumb {
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: 1px solid #95A487 !important;
  border-radius: 15px !important;
}

.breadcrumb::after {
  content: "CSS by Blub-Blub (#519615)";
  position: absolute;
  right: 20%;
  z-index: 100;
  color: #E1D5BC;
}

.feature {
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: 1px solid #95A487 !important;
  border-radius: 15px !important;
}

.cave-grid { 
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: 1px solid #95A487 !important;
  border-radius: 15px !important;
}

.cave-grid>img {
  content: url('https://iili.io/KDUfvRt.jpg') !important;
}

.cave-grid:hover {
  text-shadow: 0 0 5px #95A487, 0 0 10px #95A487, 0 0 20px #95A487; !important;
  transition: 0.8 !important;
}

.mound-grid { 
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: 1px solid #95A487 !important;
  border-radius: 15px !important;
}

.mound-grid>img {
  content: url('https://iili.io/KDUBBvS.jpg') !important;
}

.mound-grid:hover {
  text-shadow: 0 0 5px #95A487, 0 0 10px #95A487, 0 0 20px #95A487; !important;
  transition: 0.8 !important;
}

.col-xs-10 {
  background: rgba(48, 70, 54, 0.5) !important;
  border: 1px solid #95A487 !important;
}

.col-xs-2 { 
  background: rgba(48, 70, 54, 0.5) !important;
  border: 1px solid #95A487 !important;
}

.topbar {
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border-bottom: 1px solid #95A487 !important;
}

.sidebar {
  background: none !important;
  color: #E1D5BC !important;
  border: none !important;
}

.panel {
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: none !important;
}

.panel {
    background: #3B4C3F !important;
    border: 1px solid #95A487 !important;
    border-radius: 15px !important;
    box-shadow: none !important;
  }

.s-chat-message:nth-child(even) {
  background: #304636 !important;
  color: #E1D5BC !important;
  border: 1px solid #95A487 !important;
}

.s-chat-message:nth-child(odd) {
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: 1px solid #95A487 !important;
}

.s-chat-message_timestamp {
  color: #E1D5BC !important;
}

#chatMessageContainer {
  color: #E1D5BC !important;
  border: none !important;
}

button#label_currentChannel {
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: none !important;
}

.s-chat-message_content {
  backgorund: none !important;
  color: #E1D5BC !important;
  border: none !important;
}

#chatMessagePinned {
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: 1px solid #95A487 !important;
}

h1 {
  text-align: center !important;
  color: #E1D5BC !important;
  font-family: 'Aref Ruqaa';
}

h3 {
  text-align: center !important;
  color: #E1D5BC !important;
  font-family: 'Aref Ruqaa';
}

.top {
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: 1px solid #95A487 !important;
  text-align: center !important;
  font-family: 'Aref Ruqaa';
}

th {
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: 1px solid #95A487 !important;
  text-align: center !important;
  font-family: 'Aref Ruqaa';
}

.bottom {
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: 1px solid #95A487 !important;
  text-align: center !important;
  font-family: 'Aref Ruqaa';
}

.left {
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: 1px solid #95A487 !important;
  text-align: center !important;
  font-family: 'Aref Ruqaa';
}

td {
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: 1px solid #95A487 !important;
  text-align: center !important;
  font-family: 'Aref Ruqaa';
}

.right_cub {
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: 1px solid #95A487 !important;
  text-align: center !important;
  font-family: 'Aref Ruqaa';
}

a:link {
  color: #657937 !important;
}

a:visited { 
  color: #657937 !important;
}

a:hover {
  color: #9FB865 !important;
  transition: 0.8s !important;
}

.topbar a:link {
  color: #9FB865 !important;
}

.alert-danger {
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: 1px solid #95A487 !important;
  text-align: center !important;
}

.alert-success {
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: 1px solid #95A487 !important;
  text-align: center !important;
}

.attack_won {
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: 1px solid #95A487 !important;
  text-align: center !important;
}

.attack-lost {
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: 1px solid #95A487 !important;
  text-align: center !important;
}

input[type="button"] {
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: 1px solid #95A487 !important;
  text-align: center !important;
  text-shadow: none !important;
  box-shadow: none !important;
}

input[type="submit"] {
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: 1px solid #95A487 !important;
  text-align: center !important;
  text-shadow: none !important;
  box-shadow: none !important;
}

input[type="text"] {
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: 1px solid #95A487 !important;
  text-align: center !important;
  text-shadow: none !important;
  box-shadow: none !important;
}

input[type="text"] {
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: 1px solid #95A487 !important;
  text-align: center !important;
  text-shadow: none !important;
  box-shadow: none !important;
}

input[type="password"] {
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: 1px solid #95A487 !important;
  text-align: center !important;
  text-shadow: none !important;
  box-shadow: none !important;
}

textarea {
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: 1px solid #95A487 !important;
  text-align: center !important;
  text-shadow: none !important;
  box-shadow: none !important;
}

select {
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: 1px solid #95A487 !important;
  text-align: center !important;
  text-shadow: none !important;
  box-shadow: none !important;
}

input[type="button"]:hover {
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: 1px solid #95A487 !important;
  text-align: center !important;
  text-shadow: none !important;
  box-shadow: none !important;
}

input[type="text]:focus {
  
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: 1px solid #95A487 !important;
  text-align: center !important;
  text-shadow: none !important;
  box-shadow: none !important;
}

input[type="password"]:focus { 
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: 1px solid #95A487 !important;
  text-align: center !important;
  text-shadow: none !important;
  box-shadow: none !important;
}

textarea:focus {
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: 1px solid #95A487 !important;
  text-align: center !important;
  text-shadow: none !important;
  box-shadow: none !important;
}

select:focus {
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  border: 1px solid #95A487 !important;
  text-align: center !important;
  text-shadow: none !important;
  box-shadow: none !important;
}

.progress {
  background: #657939 !important;
  border: 1px solid #657939 !important;
  border-radius: 15px !important;
}

.provress div {
  color: #E1D5BC !important;
}

.progress-bar {
  background: #9FB865 !important;
}

.progress-bar-warning {
  background: #9FB865 !important;
}

.progress-bar-danger {
  background: #9FB865 !important;
}

.progress-bar-success {
  background: #9FB865 !important;
}

/*SB icon*/
img[src$="silver.png"] {
  content: url('URLImageHere') !important;
  width: 20px !important;
}

/*GB Icon*/
img[src$="gold.png"] {
  content: url('URLImageHere') !important;
  width: 20px !important;
}

#commentBox {
  border: 1px solid #95A487 !important;
  border-radius: 15px !important;
  height: 200px !important;
  background: #3B4C3F !important;
  color: #E1D5BC !important;
  box-shadow: none !important;
}

.commentBox {
  height: 36px !important;
  width: 837px !important;
  overflow: hidden !important;
  margin-bottom: 10px !important;
}
