@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
background: url('https://iili.io/fH8E5U7.jpg') no-repeat center center fixed !important;
color: none !important;
background-size: cover !important;
}

#commentBox {
background: rgba(59, 76, 63, 0.5) !important;
color: #95A487 !important;
border: 1px solid #95A487 !important;
border-radius: 15px !important;
box-shadow: none !important;
}

.col-md-9.col-xs-12 {
background: none !important;
border: 4px double #95A487 !important;
border-top: none !important;
border-right: none !important;
border-bottom: none !important;
}

div.container.main {
background: rgba(59, 76, 63, 0.5) !important;
border: 1px solid #95A487 !important;
border-radius: 15px !important;
}

.navbar {
background: #3B4C3F !important;
border: 1px solid #95A487 !important;
border-bottom: none !important;
border-top: none !important;
border-right: none !important;
border-radius: 15px !important;
box-shadow: none !important;
font-family: 'Playfair Display';
}

navbar li a {
color: #95A487 !important;
}

.navbar li a:hover {
background: none !important;
color: #E1D5BC !important;
border: 0 0 10px #E1D5BC, 0 0 20px #E1D5BC, 0 0 40px #E1D5BC;
text-shadow: 0 0 5px #E1D5BC, 0 0 10px #E1D5BC, 0 0 20px #E1D5BC;
transition: 0.8s !important;
}

.navbar-header > a > img {
content: url('https://iili.io/fH8WmZu.png') !important;
width: 100px;
}

.breadcrumb {
background: #3B4C3F !important;
color: #95A487 !important;
border: 1px solid #95A487 !important;
border-radius: 15px !important;
}


.breadcrumb::after {
content: "CSS by Blub-Blub (#519615)";
position: absolute;
right: 20%;
z-index: 100;
color: #95A487;
}

.feature {
background: #3B4C3F !important;
color: #95A487 !important;
border: 1px solid #95A487 !important;
border-radius: 15px !important;
}

.topbar {
background: #3B4C3F !important;
color: #95A487 !important;
border: none !important;
border-top: none !important;
border-bottom: 4px solid #95A487 !important;
}

.sidebar, .table {
background: none !important;
color: #95A487 !important;
border: none !important;
}

.panel {
background: #3B4C3F !important;
border: 1px solid #95A487 !important;
border-radius: 15px !important;
box-shadow: none !important;
}


.progress {
background: #3B4C3F !important;
border: 1px solid #95A487 !important;
border-radius: 15px !important;
}

.progress div {
color: #E1D5BC !important;
}

.progress-bar-warning {
background: #95A487 !important;
}

.progress-bar-danger {
background: #95A487 !important;
}

.progress-bar-success {
background: #95A487 !important;
}

.progress-bar {
background: #95A487 !important;
}

.s-chat-message:nth-child(even) {
background: #3B4C3F !important;
color: #E1D5BC !important;
border: 1px dashed #E1D5BC !important;
}

.s-chat-message:nth-child(odd) {
background: #95A487 !important;
color: #E1D5BC !important;
border: 1px dashed #E1D5BC !important;
}

.s-chat-message_timestamp {
color: #95A487 !important;
}

#chatMessageContainer {
background: #3B4C3F !important;
color: #95A487 !important;
border: none !important;
}

button#label_currentChannel {
background: #________ !important;
color: #________ !important;
border: none !important;
}

.s-chat-message_content {
background: none !important;
color: #95A487 !important;
border: none !important;
}

div#chatMessagePinned {
background: #3B4C3F !important;
color: #95A487 !important;
border: 1px solid #95A487 !important;
}

h1 {
text-align: left !important;
color: #95A487 !important;
font-family: 'Playfair Display';
}

h3 {
text-align: center !important;
color: #95A487 !important;
font-family: 'Playfair Display';
}

.top, th, .bottom, .left, .right_cub {
background: #3B4C3F !important;
color: #95A487 !important;
border: 1px solid #95A487 !important;
text-align: center !important;
font-family: 'Playfair Display';
}

td.right {
background: rgba(59, 76, 63, 0.5) !important;
color: #95A487 !important;
border: 1px solid #95A487 !important;
text-align: center !important;
font-family: 'Playfair Display';
}

.cave-grid, .mound-grid {
background: rgba(59, 76, 63, 0.5) !important;
color: #95A487 !important;
border: 1px solid #95A487 !important;
border-radius: 15px !important;
}

.cave-grid:hover, .mound-grid:hover {
text-shadow: 0 0 5px #E1D5BC, 0 0 10px #E1D5BC, 0 0 20px #E1D5BC !important;
transition: 0.8s !important;
}

div.cave-grid>img {
content: url('https://iili.io/fH8O4n9.jpg') !important;
width: 100% !important;
height: 100% !important;
}

div.mound-grid>img {
content: url('https://iili.io/fH8emJf.jpg') !important;
width: 100% !important;
height: 100% !important;
}

a:link, a:visited {
color: #E1D5BC !important;
}

a:hover {
color: #E1D5BC !important;
text-shadow: 0 0 5px #E1D5BC, 0 0 10px #E1D5BC, 0 0 20px #E1D5BC !important;
transition: 0.8s !important;
}

topbar a:link {
color: #E1D5BC !important;
transition: 0.8s !important;
}

.topbar a:visited {
color: #E1D5BC !important;
}

.topbar a:hover {
color: #E1D5BC !important;
}

.alert-danger, .alert-success, .attack-won, .attack-lost {
background: #3B4C3F !important;
color: #95A487 !important;
border: 1px solid #95A487 !important;
border-radius: 15px !important;
text-align: center !important;
}

input[type="button"] {
background: #3B4C3F !important;
color: #95A487 !important;
border: 1px solid #95A487 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

input[type="submit"] {
background: #3B4C3F !important;
color: #95A487 !important;
border: 1px solid #95A487 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

input[type="text"] {
background: #3B4C3F !important;
color: #95A487 !important;
border: 1px solid #95A487 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

input[type="password"] {
background: #3B4C3F !important;
color: #95A487 !important;
border: 1px solid #95A487 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

textarea {
background: #3B4C3F !important;
color: #95A487 !important;
border: 1px solid #95A487 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

select {
background: #3B4C3F !important;
color: #95A487 !important;
border: 1px solid #95A487 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

input[type="button"]:hover {
background: #3B4C3F !important;
color: #E1D5BC !important;
border: 1px solid #E1D5BC !important;
text-align: center !important;
text-shadow: 0 0 5px #E1D5BC, 0 0 10px #E1D5BC, 0 0 20px #E1D5BC !important;
transition: 0.8s !important;
box-shadow: none !important;
}

input[type="text]:focus {
background: #3B4C3F !important;
color: #95A487 !important;
border: 1px solid #95A487 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

input[type="password"]:focus {
background: #3B4C3F !important;
color: #95A487 !important;
border: 1px solid #95A487 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

textarea:focus {
background: #3B4C3F !important;
color: #95A487 !important;
border: 1px solid #95A487 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

select:focus {
background: #3B4C3F !important;
color: #95A487 !important;
border: 1px solid #95A487 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}